{% extends 'base.html' %}
{% block title %} {{ title }}
{% endblock %}
{% block main_content %}

<ul>
    <p>Question:</p>
    <ul>{{question.title}}</ul>
    <ul>{{question.body}}</ul>

    <p>Answers:</p>
    {% for obj in answers_list %}
    <ul>rating: {{obj.rating}} {{obj.body}} </ul>
     <br>
    {% endfor %}


{% include "paginator.html" %}

    <p>Trending</p>
    {% for obj in max_ratings_list %}
    <ul> {{obj.rating}} {{obj.title}}</ul>
    {% endfor %}

</ul>

<div >
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit!">
        </form>
</div>



{% endblock %}
