{% extends 'base.html' %}
{% block title %} {{ title }}
{% endblock %}
{% block main_content %}

<ul>

    <ul>{{object.title}}</ul>
    <ul>{{object.body}}</ul>


    <p>Trending</p>
    {% for obj in max_ratings_list %}
    <ul> {{obj.rating}} {{obj.title}}</ul>
    {% endfor %}

</ul>
<ul>
{% for obj in object.a %}
    <ul>{{object.title}}</ul>
    <ul>{{object.body}}</ul>


</ul>
<div >
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Ask!">
        </form>
    </div>

{% endblock %}
