<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<ul>
    {% if user.is_anonymous %}
    <li><a href="{% url 'siteauth:login' %}">Login</a></li>
    {% else %}
    <li><a href="{% url 'siteauth:logout' %}">Logout</a></li>
    {% endif %}
    <li><a href="{% url 'siteauth:signup' %}">Signup</a></li>
</ul>

{% block main_content %}

{% endblock %}

{% block menu %}

{% endblock %}
</body>
</html>
