<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <h1>
      <a href="{% url "main:index" %}">Hasker</a>
    </h1>
</head>
<body>
<ul>
    {% if user.is_anonymous %}
    <li><a href="{% url "siteauth:login" %}">Login</a></li>
    <li><a href="{% url "siteauth:signup" %}">Signup</a></li>
    {% else %}
    <li><a href="{% url "siteauth:logout" %}">Logout</a></li>
    <li><a href="{% url "siteauth:settings" user.pk %}">{{user.username}}</a></li>
    {% endif %}
</ul>
<ul>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </ul>
    {% endif %}
</ul>

{% block main_content %}
{% endblock %}

{% block ask %}
{% if user.is_anonymous %}
<li><a href="{% url "siteauth:signup" %}">Ask!</a></li>
{% else %}
<li><a href="{% url "main:question_create" %}">Ask!</a></li>
{% endif %}
{% endblock %}
</body>
</html>
